:root {
    --primary-color: green;
    --secondary-color: white;
    --tertiary-color: black;
    --eastern-color: blue;
    --western-color: red;
}

.player-image {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}

/* List styles */
.games-injury-section ul {
    list-style-type: none;
    padding: 0;
}

/* List item styles */
.games-injury-section li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.nextgame-page {
    display: flex;
}

.main-content {
    margin-left: 200px;
    width: calc(100% - 200px);
    padding: 20px;
}

.games-container {
    margin-bottom: 20px;
}

.team-logo img {
    width: 200px;
    display: block;
    margin: 20px 0;
}

.games-text-section {
    margin-bottom: 20px;
}
