/* Table on Players page */
th,
td {
    width: 100%;
    padding: 1px;
    text-align: center;
}

/* Table on Players page */
.players-page th {
    padding: 1px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Table data on Players page */
.players-page td {
    
    text-align: center;
    border: 1px solid var(--tertiary-color);
}

/* Media query for screens 600px or less */
@media (max-width: 600px) {
    /* Table on Players page */
    .players-page th,
    .players-page td {
      display: block;
      width: 100%;
    }
  
    /* Optional: Adjust padding or other styles for better display on smaller screens */
    .players-page th,
    .players-page td {
      padding: 10px;
    }
  }
