/* Table on Players page */
th,
td {
    padding: 20px;
    text-align: center;
}

/* Table on Players page */
.players-page th {
    padding: 20px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Table data on Players page */
.players-page td {
    padding: 20px;
    text-align: center;
    border: 1px solid var(--tertiary-color);
}