/* Teams Grid */
.teams-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* Team Box */
.team {
    text-align: center;
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
}

.team img {
    width: 100px;
    height: 100px;
    margin: 10px 0;
}

.team h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.team p {
    margin: 0;
}

/* Eastern Conference Teams */
.eastern-conference {
    text-align: center;
    color: var(--eastern-color);
    margin: 20px 0;
}

.eastern-conference + .teams-grid .team {
    border: 1px solid var(--eastern-color);
}

/* Western Conference Teams */
.western-conference {
    text-align: center;
    color: var(--western-color);
    margin: 20px 0;
}

.western-conference + .teams-grid .team {
    border: 1px solid var(--western-color);
}

/* Media query for screens 600px or less */
@media (max-width: 600px) {
    .teams-grid {
        grid-template-columns: 1fr; /* Adjust to 1 column for smaller screens */
        gap: 10px; /* Adjust gap for smaller screens */
    }
    .team img {
        width: 50px; /* Adjust image size for smaller screens */
        height: 50px;
    }
    .team h3 {
        font-size: 1em; /* Adjust font size for smaller screens */
    }
    .team {
        padding: 15px; /* Adjust padding for smaller screens */
    }
}
